<h1>{{ id }}</h1>

<ul>
    <li>
      Name: {{ name }}
    </li>
    <li>
      Attack: {{ attack }}
    </li>
    <li>
      Defense: {{ defense }}
    </li>
    <li>
      Evolve Level: {{ evolveLevel }}
    </li>
    <li>
      Evolves to: {{ evolveTo }}
    </li>
    <li>
      Type {{ type }}
    </li>
    <li>
      Moves: {{ moves }}
    </li>
    <li>
      Curve: {{ curve }}
    </li>
    <li>
      Level: {{ levels }}
    </li>
    <li>
      Probability: {{ probability }}
    </li>
</ul>


<p>
  Go back to the <a href="/">Pokedex</a> <br>
  <!-- <a href="/id">Next</a> <br>
  <a href="/projects">Previous</a> <br> -->
</p>
